.registeruser{
    border: 1px solid darkseagreen;
    background-color: goldenrod;
    width: 300px;
    height: 350px;
    border-radius: 5px;
}
h2{
    font-family: Arial, sans-serif;
    color: blue;
}
input{
    color: blue;
    border-bottom: blue;
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
    border-bottom: gray;
    color: cornflowerblue;
}
button {
    background-color: grey;
}
button:hover{
    font-size: 15px;
}
div{
    font-family: sans-serif;
    color: darkslateblue;
}


