.register{
    border: 1px solid grey;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    background-color: lightgoldenrodyellow;
}
input{
    border-radius: 5px;
    border: 2px solid cornflowerblue;
    padding-left: 28px;
    border-bottom: gray;
}
h2{
    color: gray;
    font-family: sans-serif;
}
button{
    background-color: darkseagreen;
}
button:hover{
    font-size: 15px;
}
div{
    font-family: Arial, sans-serif;
}